#
# ignore object files and libraries
#
*.[oa]

#
# ignore executable
#
sipi

#
# other files to be ignored
#
.DS_Store
*~
*.pyc
.idea/
sipi.log*
/extsrcs/
/cmake-build-debug/
target
__pycache__/
doc/
_build/

#
# Cmake things to be ignored
#
lib
local
build-linux
build-mac
cmake-build-debug
# ignore cache
cache/

#ignore ICC headers
*_icc.h
/images/
/server/admin/
icc.zip


# ignore test results
/Testing
/test/nginx/logs/error.log
_lena512.jp2
/site
/test/_test_data/images/unit/_cmyk_2.tif
/test/_test_data/images/unit/_cmyk_lossy.jp2
/test/_test_data/images/unit/_cmyk.jpg
/test/_test_data/images/unit/_cmyk.jpx
/test/_test_data/images/unit/_cmyk.png
/test/_test_data/images/unit/_grayicc.jpg
/test/_test_data/images/unit/_palette.jpx
/test/_test_data/images/unit/cielab.jpx
/test/_test_data/images/unit/cielab.png
/test/_test_data/images/unit/CIELab16.jpg
/test/_test_data/images/unit/CIELab16.png
