#
# ignore object files and libraries
#
*.[oa]

#
# ignore executable
#
sipi

#
# other files to be ignored
#
#*.tif
*.jp2
#*.jpg
*.jpx
.DS_Store
*~
*.pyc
.idea/
SipiConfig.h
sipi.log*
/extsrcs/
/cmake-build-debug/
target

#
# Cmake things to be ignored
#
lib
local
cmake-build-debug
# ignore cache
cache/

# ignore ICC files
*.icc

#ignore ICC headers
*_icc.h
/images/
icc.zip
